
h1{
    color:black;
    font-size:large;
}



header {
    background-color: white;
    position: fixed;
    color: black;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex2 {
    display: flex;
}

footer{
    background:white
}

h5{
   font-size:larger;
   color: black;
}

h6{
    font-size:medium;
    color: black;

}