body {
    background-image: url(mattschwarz2.jpg);

}

.eins{
    color:black
}
h1{
    font-family:`Arial´
    font: size 4em;
    background: orangered;
    line-height: 5px;
    margin: 0px 0px 0px 10px;
    padding-left: 10px;
}
h2{
color: white;
font-size:2em;
margin-top: 50px;
border-bottom:2px rgb(254, 103, 53) dotted;
overflow: hidden;
}
p{
    color: white;
    line-height: 50px;
    padding-top: 10px;
    padding-left: 60px;

}
.intro{
font-size: larger;
padding-bottom: 10px;
background: #c8c8c8;
border-left: solid 25px #4c0000;
margin-left: 10px

}
.sidebar{
    width:200px;
    float: right;
    background:red
    padding: 25px;
    margin-left: 50px;
    margin-top: 50px;
    color: white;
    
}



.flex {
    display: flex;
    justify-content: space-between;
}